.create-employee-section {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-size: 1.2em;
    margin: 0;
    color: rgb(109, 133, 9);
    text-transform: capitalize;
}

.create-employee-section form {
    width: 100%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
}

#nameBloc, #addressBloc, #departmentBloc {
    display: flex;
    flex-wrap: wrap;
}

#addressBloc {
    margin: 15px 0;
    background-color: rgba(90, 111, 8, .25);
    border: none;
    border-radius: 5px;
}

#addressBloc legend {
    background-color: rgba(255,255,255,.75);
    border-radius: 2px;
    padding-inline: 5px;
}

#create-button {
    width: min-content;
    margin: 30px auto 0;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: rgb(90, 111, 8);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1em;
}

.error-text {
    margin: 0;
    margin-top: 2px;
    color: red;
    font-size: .6em;
}

/* For devices with width between 769px and 1279px, like landscape tablets and laptops */
@media only screen and (min-width: 769px) {
    .create-employee-section {
        padding: 30px 50px;
    }
    h2 {
        font-size: 1.5em;
    }
    .error-text {
        margin-top: 5px;
        font-size: .8em;
    }
} 

/* For devices with width of 1280px and more, like desktop computers */
@media only screen and (min-width: 1280px) {
    .create-employee-section {
        padding: 50px 100px;
    }
    .create-employee-section form {
        width: 50%;
        margin: 30px auto;
    }
    #create-button {
        margin: 50px auto;
        font-size: 1em;
        transition: all .2s ease-in-out;
    }
    #create-button:hover {
        background-color: rgb(147, 173, 24);
        color: black;
        transition: all .2s ease-in-out;
    }
}
