.employee-list-section {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.employee-table {
    width: 100%;
    margin: 30px auto;
    background-color: rgba(147, 173, 24, .2);
    box-shadow: 0 0 30px rgb(90, 111, 8);
}

/* For devices with width between 769px and 1279px, like landscape tablets and laptops */
@media only screen and (min-width: 769px) {
    .employee-list-section {
        padding: 50px 100px;
    }
    .employee-table {
        margin: 50px auto;
    }
} 

/* For devices with width of 1280px and more, like desktop computers */
@media only screen and (min-width: 1280px) {
    .employee-table {
        width: 80%;
    }
}
