.btn-modal {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
    color: brown;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(49, 49, 49, 0.8);
    z-index: 10;
}

.modal {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 5px;
    max-width: 600px;
    min-width: 200px;
    text-align: center;
    font-weight: bold;
}

.modal-content p {
    line-height: 1.4;
}

.close-modal {
    position: absolute;
    top: -15px;
    right: -15px;
    padding: 5px 10px;
    border-radius: 50%;
    font-weight: bold;
    border: none;
    background-color: rgb(147, 173, 24);
    color: black;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.close-modal:hover {
    background-color: rgb(90, 111, 8);
    color: white;
    transition: all .2s ease-in-out;
}
